name: Publish to npm

on:
  workflow_run:
    workflows: ["Continuous Integration (CI)"]
    types: [completed]

permissions:
  id-token: write
  contents: read

jobs:
  publish:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ github.event.workflow_run.head_sha }}

      - uses: actions/setup-node@v4
        with:
          node-version: 24.x
          registry-url: https://registry.npmjs.org/

      - run: yarn --frozen-lockfile
      - run: yarn build
      - run: npm config list
      - run: |
            unset NODE_AUTH_TOKEN
            unset NPM_AUTH_TOKEN
            unset NPM_TOKEN

            npm publish --provenance --access public
